// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$myColor: green;

.home{
    color: $myColor;
}


.formDiv {
    padding: 21px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

input[type=text], select
{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.error{
    border-color: #a94442 !important;
    color: #a94442 !important;
    margin-bottom: 15px;
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.button-section {
    margin: 3%;
}
.button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: royalblue;
}

.remove {
    background-color: rgb(192, 53, 53);
}
.remove:hover {
    background-color: rgb(187, 43, 43);
}

.full-border{
    border: 1px solid #ccc;
}

.d-flex{
    display: flex !important;
}
.j-center{
    justify-content: center !important;
}
.min-width-80{
    min-width: 80% !important;
}

.max-w-100{
    max-width: 10rem !important;
}

.max-w-4-5{
    max-width: 4.5rem !important;
}
.position{
    float: right !important;
}
